
body{
    background-color:#002f62;
    }
/* Style for the form container */
.contact-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Lato, sans-serif;
    margin-top: 100px;
    font-size: 25px;
    

}
/* Style for the form fields */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #002f62;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgb(30, 30, 247);
}
/* Style for the form labels */
label {
    font-weight: bold;
    color: #002f62;
}

h2{
    color: #002f62;
}
