/* Main CSS Here */

@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

:root {
--background-color1: #fafaff;
--background-color2: #ffffff;
--background-color3: #ededed;
--background-color4: #b4c5fba4;
--primary-color: #0055b1;
--secondary-color: #003976;
--Border-color: #004572;
--one-use-color: #003c72;
--two-use-color: #314f70;
--three-use-color: #002f62;
}
body {
background-color: var(--background-color4);
max-width: 100%;
/* overflow-x: hidden; */
}

header {
height: 70px;
width: 100vw;
padding: 0 30px;
background-color: var(--background-color1);
position: fixed;
z-index: 100;
box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-size: 16px;
/* font-weight: 600; */
color: #0062cc;
}

.icn {
height: 30px;
}
.menuicn {
cursor: pointer;
}

.searchbar,
.message,
.logosec {
display: flex;
align-items: center;
justify-content: center;
}

.searchbar2 {
display: none;
}

.logosec {
gap: 60px;
}

.searchbar input {
width: 250px;
height: 42px;
border-radius: 50px 0 0 50px;
background-color: var(--background-color3);
padding: 0 20px;
font-size: 15px;
outline: none;
border: none;
}
.searchbtn {
width: 50px;
height: 42px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 0px 50px 50px 0px;
background-color: var(--secondary-color);
cursor: pointer;
}

.message {
gap: 40px;
position: relative;
cursor: pointer;
}
.circle {
height: 7px;
width: 7px;
position: absolute;
background-color: #fa7bb4;
border-radius: 50%;
left: 19px;
top: 8px;
}
#revenue-chart {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
  }
  
  
  
  /* Center the chart within its container */
  #myChart {
    display: block;
    margin: 0 auto;
  }
  
  /* Style the legend */
  #myChart .chart-legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  #myChart .chart-legend li {
    display: inline-block;
    margin-right: 10px;
  }
  
  #myChart .chart-legend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
  }
  
  /* Style the tooltips */
  #myChart .chart-tooltip {
    position: absolute;
    z-index: 99;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  
  #myChart .chart-tooltip:before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
  }
  
  #myChart .chart-tooltip.hidden {
    opacity: 0;
  }
  
  .message {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  /* .circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #007bff;
    margin-right: 20px;
  } */
  
   .fa-envelope {
    font-size: 24px;
    color: #007bff;
    margin-right: 20px;
  } 
  
   
  .dp {
    margin-right: 20px;
  } 
  
   .dpicn {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  } 
  
   .dpicn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } 
  
  .username {
    font-size: 16px;
    color: #007bff;
    margin-left: 10px;
    position: absolute;
    bottom: 0;
  }
  
  #open-modal-btn {
    background-color: #002f62;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: auto;
  }
  
  /* Modal */
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
   .resizable {
    overflow: auto;
    resize: both;
    max-height: 50vh;
    max-width: 50vw;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  } 
  .searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .searchbar input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    line-height: 30px;
  }
  
  .searchbar .searchbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 42px;
    background-color: #002f62;
    border: none;
    cursor: pointer;
    line-height:30px;
  }
  
  .searchbar .searchbtn i {
    font-size: 20px;
    color: white;
  }
  
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
  }
  
  input[type="submit"]:hover {
    background-color: #002f62;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  button[name="update-profile-btn"] {
    background-color: #002f62; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
.main-container {
display: flex;
width: 100vw;
position: relative;
top: 70px;
z-index: 1;
}
.dpicn {
height: 42px;
}

.main {
height: calc(100vh - 70px);
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
padding: 40px 30px 30px 30px;
}

.main::-webkit-scrollbar-thumb {
background-image:
		linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}
.main::-webkit-scrollbar {
width: 5px;
}
.main::-webkit-scrollbar-track {
background-color: #9e9e9eb2;
}

.box-container {
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
gap: 50px;
}
.nav {
min-height: 91vh;
width: 250px;
background-color: var(--background-color2);
position: absolute;
top: 0px;
left: 5px;
box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: hidden;
padding: 30px 0 20px 10px;
}
.navcontainer {
height: calc(100vh - 70px);
width: 250px;
position: relative;
overflow-y: scroll;
overflow-x: hidden;
transition: all 0.5s ease-in-out;
}
.navcontainer::-webkit-scrollbar {
display: none;
}
.navclose {
width: 80px;
}
.nav-option {
width: 250px;
height: 60px;
display: flex;
align-items: center;
padding: 0 30px 0 20px;
gap: 20px;
transition: all 0.1s ease-in-out;
}
.nav-option:hover {
border-left: 100px solid #a2a2a2;
background-color: #dadada;
cursor: pointer;

}
.nav-img {
height: 30px;
}

.nav-upper-options {
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
}

.option1 {
border-left: 5px solid #010058af;
background-color: var(--Border-color);
color: white;
cursor: pointer;
}
.option1:hover {
border-left: 5px solid #010058af;
background-color: var(--Border-color);
}

.box {
    width: 350px;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 30, 87, 0.751);
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }


.box:hover {
    transform: translateY(-5px);
  }

.box:nth-child(1) {
background-color: var(--one-use-color);
}
.box:nth-child(2) {
background-color: var(--three-use-color);
}
.box:nth-child(3) {
background-color: var(--Border-color);
}
.box:nth-child(4) {
background-color: var(--two-use-color);
}
.box:nth-child(5) {
	background-color: var(--primary-color);
	}
	.box:nth-child(6) {
		background-color: var(--secondary-color);
		}

.box img {
height: 50px;
}
 .box .text {
color: white;
} 

.summary-details-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .summary {
	margin-bottom: 10px;
  }
  
  
.topic {
font-size: 13px;
font-weight: 400;
letter-spacing: 1px;
}

.text {
    text-align: center;
  }

.topic-heading {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .details-btn {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .details-btn:hover {
    background-color: #006F8A;
  }

  .icon {
    font-size: 60px;
    margin-bottom: 20px;
  }
 



a {
	text-decoration: none;
	color: black;
  }


  /* Style for the table */

#t1 {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 10%;
}

#t1 th,
#t1 td {
  padding: 12px;
  text-align: left;
  border-bottom: 3px solid #ddd;
}

/* Style for the button */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
}

.collapsible:hover {
  background-color: #ccc;
}

.active, .collapsible:hover {
  background-color: #555;
  color: white;
  width: 100%;
} 

/* Style for the content */
/* .content {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} */