#record {
    background-color: blue; /* Green */
    border-width: medium;
    border-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 50%;
    max-height: 15%;
    border-radius: 50%;
    left: 5px;
    right: 100px;
    position: relative;
}
#stopRecord {
  background-color: red; /* Green */
  border-width: medium;
  border-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  max-width: 50%;
  max-height: 15%;
  border-radius: 50%;
  left: 10px;
  right: 100px;
  position: relative;
}
h2 {
    left: 100px;
    position: relative;
}
#recordedAudio {
  left: 100px;
  right: 100px;
  position: relative;
}

#textspace {
  width: 500px;
  height: 400px;
  margin-top: 2%;
  margin-left: 0%;
}


#recording {
  margin:10%;
  position: relative;
  top: 1%; 
}

/* CSS code */
.submit-btn {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #ffcc00;
}
