body {
    background-color: #dfe9ff;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fafaff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: bold;
    color: #002f62;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
  }


  label {
    display: block;
    margin-bottom: 10px;
    font-size: 32px;
    color: #002f62;
  }
  audio {
    display: block;
    margin-bottom: 20px;

  }
  button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #002f62;
    color: #fff;
    cursor: pointer;
  }
  button:active {
    background-color: #0062cc;
  }
  .process-btn {
    margin-top: 20px;
  }
  a {
text-decoration: none;
color: white;
}
